# NPOAP Complet - Tous les modules
numpy>=1.20.0
scipy>=1.7.0
pandas>=1.3.0
astropy>=5.0.0
photutils[all]>=1.6.0
ccdproc>=2.4.0
reproject>=0.8
matplotlib>=3.5.0
requests>=2.25.0
Pillow>=9.0.0
pytz
astroquery>=0.4.6
pylightcurve>=1.0.0
emcee>=3.1.0
reportlab>=3.6.0
statsmodels>=0.13.0
specutils>=1.12.0
dynesty>=2.0.0
dill>=0.3.0
h5py>=3.0.0
rebound>=3.20.0
ultranest>=0.7.0
phoebe>=2.4.0
exotethys>=1.0.0
click>=8.0.0
stdpipe
synphot
lightkurve>=2.4.0
git+https://github.com/mfouesneau/ezpadova